.AboutUs {
    background-image: url('../../assets/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: var(--primary-font);
    position: relative;
}

/* Container for the team sections */
.TeamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    z-index: 10;
}

/* Style each team member section */
.TeamMember {
    background-color: var(--background-color);
    padding: 20px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    width: 23%;
    text-align: center;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;

    .TeamImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto 10px auto;
    display: block;
}

.TeamName {
    font-size: 1.5rem;
    margin: 10px 0 5px;
}

.TeamRole {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.TeamIntro {
    font-size: 1rem;
    line-height: 1.5;
}
}

.TeamMember:hover {
    box-shadow: 0 0 15px 5px var(--primary-color), 0 4px 15px rgba(0, 0, 0, 0.25);
}


/* Responsiveness */
@media (max-width: 1024px) {
    .TeamMember {
        width: 45%; /* 2 items per row on tablets */
    }

    .TeamImage {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .TeamMember {
        width: 100%; /* 1 item per row on mobile */
    }

    .TeamImage {
        width: 60px;
        height: 60px;
    }

    .TeamName {
        font-size: 1.2rem;
    }

    .TeamRole {
        font-size: 1rem;
    }

    .TeamIntro {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .AboutUs {
        padding: 20px;
    }

    .TeamImage {
        width: 50px;
        height: 50px;
    }

    .TeamName {
        font-size: 1rem;
    }

    .TeamRole {
        font-size: 0.9rem;
    }

    .TeamIntro {
        font-size: 0.8rem;
    }
}

@media (max-width: 390px) {
    .AboutUs {
        background-image: url('../src/assets/img/landing-page/background-blank.png');
    }
}
