/* Questboard Header Progess Bar and Buttons */
.questboard-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-family: var(--tertiary-font);
    font-size: 1.875rem;
    font-weight: 800;
  }

  p {
    opacity: 0.5;
  }

}

.questboard-header-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  gap: 5px;
}

.questboard-header-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}



/* For 500px screen width */
@media (max-width: 600px) {
  .questboard-header {
    flex-direction: column;
    align-items: center;
  }

  .questboard-header-left, 
  .questboard-header-right {
    width: 100%;
    align-items: center;
    flex: 1;
  }

  .level-bar {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

/* Mobile View for 405px screen width */
@media (max-width: 405px) {
  .questboard-header {
    flex-direction: column;

    i {
      font-size: 1.2rem;
    }
  }

  .questboard-header-left {
    margin-bottom: 10px;
  }

  .questboard-header-right {
    flex-direction: column;
    width: 100%;

    button {
      height: 95%;
    }
  }

  .level-bar {
    width: 90%;
  }
}
