.layout {
  display: flex;
  min-height: 100vh;
}

.layout-outlet {
  flex-grow: 1;
  overflow-y: auto;
}

.hide-full {
  display: none;
}

@media (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
}

@media (max-width: 405px) {
  .hide {
    display: none;
  }

  .hide-full {
    display: inline-block;
  }

  .layout {
      flex-direction: column;
      margin-top: 50px;
  }

  .layout-outlet {
      flex-grow: 1;
      overflow-y: auto;
  }
}

