.reward-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
    max-height: 100vh;
    margin-bottom: 10px;
    flex-direction: row;
    border-bottom: 1px solid var(--background-color);
  }
  
  .reward-list-checkbox {
    display: flex;
    align-items: center;
    
    input {
      cursor: pointer;
      height: 20px;
      width: 20px;
    }
  }
  .reward-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    p {
        font-family: var(--secondary-font);
    }
  }
  
  .reward-actions {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  
  /* Modify & Delete Button Base */
  .modify-btn, .delete-btn {
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--secondary-font);
    color: var(--text-color);
    border-radius: 10px;
  
  }
  
/* Modify Button */
  .modify-btn {
    background-color: var(--button-light);
  }
  
  .modify-btn:hover {
    background-color: var(--button-light-hover);
  }
  
  .modify-btn:active {
    box-shadow: inset 4px 4px 0px 0px var(--button-light-shadow);
  }
  
  /* Delete Button */
  .delete-btn {
    background-color: var(--button-red);
    color: var(--background-color);
  }
  
  .delete-btn:hover {
    background-color: var(--button-red-hover);
  }
  
  .delete-btn:active {
    box-shadow: inset 4px 4px 0px 0px var(--button-red-shadow);
  }
  