.reward-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    /* border: 2px solid var(--text-color); */
    border-radius: 5px;
    width: 100%;
    max-height: 100vh;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    flex-direction: row;
  }
  
  .reward-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    img {
        width: 20px;
    }
    p {
        font-family: var(--primary-font);
        font-size: 1.2rem;
    }
  }
  
  .reward-actions {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  
  /* Modify & Delete Button Base */
  .modify-btn, .delete-btn {
    padding: 10px 20px;
    box-shadow: inset -4px -4px 0px 0px #808080;
    cursor: pointer;
    font-family: var(--primary-font);
    color: var(--text-color);
  }
  
/* Modify Button */
.modify-btn {
    background-color: var(--button-green);
    box-shadow: inset -4px -4px 0px 0px var(--button-green-shadow);
  }
  
  .modify-btn:hover {
    background-color: var(--button-green-hover);
    box-shadow: inset -6px -6px 0px 0px var(--button-green-shadow);
  }
  
  .modify-btn:active {
    box-shadow: inset 4px 4px 0px 0px var(--button-green-shadow);
  }
  
  /* Delete Button */
  .delete-btn {
    background-color: var(--button-red);
    box-shadow: inset -4px -4px 0px 0px var(--button-red-shadow);
  }
  
  .delete-btn:hover {
    background-color: var(--button-red-hover);
    box-shadow: inset -6px -6px 0px 0px var(--button-red-shadow);
  }
  
  .delete-btn:active {
    box-shadow: inset 4px 4px 0px 0px var(--button-red-shadow);
  }
  