:root {
    --danger-color: #d9534f; /* Red */
    --warning-color: #f0ad4e; /* Orange */
}

.full-quest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* background-color: var(--background-color);  */
    max-width: 100vw;  /* Prevent overflow beyond viewport */
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 20px;  /* Ensure some space inside the viewport */
}

.full-quest-section {
    padding: 20px;
    background-color: var(--background-color);
    border: 3px solid var(--primary-color);
    max-width: 800px;
    /* width: 100%; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: var(--primary-font);
}

.FullQuestTitleContainer {
   
    text-align: left;
    font-size: 2.4rem;
    border-bottom: #4a9b48 3px solid;
    margin-bottom: 20px;
}

.QuestTitle {
    font-size: 2rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
}

/* Style for the 'Quest' label */
.QuestLabel {
    color: var(--text-color); /* Use text color */
    margin-right: 10px;
    font-size: 2rem;
}

/* Green color for the quest name */
.Questname {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--primary-color); 
    text-align: center;
}

/* Image for the difficulty level */
.QuestLevelImage {
    margin-left: 15px;
    width: 40px; /* Adjust size */
    height: 40px;
}


/* Text color for the level in the title section */
.Questlevel-title {
    margin-left: 10px;
    color: var(--text-color);
}

.Questlevel {
    font-size: 1.5rem; 
    margin-bottom: 20px;
}

.level-trivial {
    color: var(--primary-color); 
}

.level-challenging {
    color: var(--warning-color); 
}

.level-deadly {
    color: var(--danger-color); 
}

.Questdescription {
    font-size: 2rem;
    font-family: var(--secondary-font);
    color: var(--text-color);
    margin-bottom: 20px;
}

.QuestLevelText {
    font-size: 2rem; /* Adjust the size as needed */
}

.Questlevel {
    font-size: 1.8rem;
    /* margin-bottom: 40px; */
}

.full-quest-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Stack buttons vertically */
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
}

.full-quest-button {
    text-align: center; /* Center text inside button */
    color: white;
    border: var(--button-border);
    box-shadow: var(--button-shadow);
    padding: 15px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.full-quest-complete{
    width: 100%; /* Make the first button span the whole row */
}
.full-quest-buttons .second-third-buttons {
    display: flex;
    justify-content: space-between; /* Space the two buttons evenly */
    gap: 20px;
}
.full-quest-button:not(:last-child) {
    margin-right: 10px; /* Add margin between buttons */
}

.full-quest-button.complete {
    background-color: var(--primary-color);
}

.full-quest-button.modify {
    background-color: var(--warning-color);
}

.full-quest-button.delete {
    background-color: var(--danger-color);
}

.full-quest-button.complete:hover {
    background-color: #3b7e3b; /* Darker shade of var(--primary-color) */
    transition: background-color 0.3s ease;
}

.full-quest-button.modify:hover {
    background-color: #c58634; /* Darker shade of var(--warning-color) */
    transition: background-color 0.3s ease;
}

.full-quest-button.delete:hover {
    background-color: #ac3a36; /* Darker shade of var(--danger-color) */
    transition: background-color 0.3s ease;
}

.full-quest-button:active {
    box-shadow: var(--button-shadow-click);
  transform: var(--button-transform-click)
}

@media (max-width: 768px) {
    .full-quest-container {
        flex-direction: column;
    }

    .full-quest-section {
        width: 100%;  /* Make the full section fill the screen width */
        padding: 20px;
    }

    .FullQuestTitleContainer {
        
        text-align: center; /* Center title on small screens */
    }

    .QuestTitle {
        display: flex;
    flex-direction: column;
        font-size: 1.2rem;
    }

    .Questdescription, .Questlevel {
        text-align: center;
        font-size: 1.2rem;
    }

    .QuestLevelText{
        font-size: 1.2rem;
    }
    .Questname {
        font-size: 2rem;
    }

    .full-quest-buttons {
        flex-direction: column; /* Stack buttons vertically on small screens */
        align-items: center;
    }

    .full-quest-button {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 10px; /* Add space between buttons */
    }
}