.notfound-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}
.notfound-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    .notfound-code {
        font-family: var(--secondary-font);
        font-size: 10rem;
        font-weight: bolder;
        color: var( --text-color-light);
    }
    
    .notfound-title {
        font-family: var(--primary-font);
        font-size: 2.3rem;
        margin-top: -20px;
    }
}

.notfound-img {
    width: 170px;
}

@media (max-width: 405px) {
    .notfound-container {
        width: 100%;
        padding: 20px;
        gap: 20px;
        top: 30%;
    }

    .notfound-container-left {
        display: flex;
        align-items: center;
        justify-content: center;

        .notfound-title {
            font-size: 1.5rem;
        }
    
        .notfound-code {
            font-size: 7rem;
        }
    }

    .notfound-container-right {
        display: flex;  
        align-items: flex-end;

        .notfound-img{
            width: 100px;
            margin-top: 20px;
        }
    }

}