html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Questboard Main ------------------------------------------------------------- */
.questboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: var(--primary-font);
    background-color: var(--background-color);
    a {
        color: var(--text-color);
    }
}

/* Questboard Header */
.questboard-header {
    display: flex;
    margin-bottom: 20px;
    font-size: 2rem;
    justify-content: space-between;
}

/* Questboard Header Progess Bar and Buttons */
.questboard-header-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.questboard-header-left {
    display: flex;
    align-items: start;
    flex: 1;
}

.questboard-header-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.questboard-header-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border: var(--button-border);
    box-shadow: var(--button-shadow);
    font-size: 1rem;
    cursor: pointer;
}

.questboard-header-button:hover {
    box-shadow: var(--button-shadow-hover);
    transform: var(--button-transform-lift);
}

.questboard-header-button:active {
    box-shadow: var(--button-shadow-click);
    transform: var(--button-transform-click);
}

/* Singular Quest Main Container ------------------------------------------------------------- */
.quest-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 2px solid var(--text-color);
    margin-bottom: 20px;
    background-color: var(--background-color);
    align-items: center;
}

/* Singular Quest Title, Description, Buttons */
.quest-container-bottom {
    display: flex;
    flex-direction: column;
    flex: 1;

    h2 {
        font-family: var(--primary-font);
        font-size: 1.5rem;
        color: var(--text-color);
        padding-bottom: 10px;
        border-bottom: 2px solid var(--text-color);
        width: calc(100% - 20px);
    }
}

.quest-container-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);

    p {
        font-family: var(--secondary-font);
        font-size: .9rem;
        color: var(--text-color);
        margin: 10px 0;
    }
}

/* Quest Option Buttons */
.quest-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;

    a {
        font-family: var(--primary-font);
        font-size: 0.9rem;
        text-decoration: none;
        color: var(--text-color);
        background-color: var(--secondary-color);
        padding: 3px 8px;
        border: var(--button-border);
        box-shadow: var(--button-shadow);
    }

    a:hover {
        box-shadow: var(--button-shadow-hover);
        transform: var(--button-transform-lift);
    }
    
    a:active {
        box-shadow: var(--button-shadow-click);
        transform: var(--button-transform-click);
    }
}

/* Quest Complete Button  */
.quest-container-right {
    display: flex;
    align-items: center;
}

.quest-complete-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: var(--button-border);
    box-shadow: var(--button-shadow);
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    cursor: pointer;
    text-align: center;

    i {
        font-size: 1.5rem;
        margin-top: 5px;
        color: var(--text-color);
    }

    p {
        margin-top: 5px;
        font-size: 0.8rem;
        color: var(--text-color);
    }
}

.quest-complete-button:hover {
    box-shadow: var(--button-shadow-hover);
    transform: var(--button-transform-lift);
}

.quest-complete-button:active {
    box-shadow: var(--button-shadow-click);
    transform: var(--button-transform-click);
}


/* App.jsx layout style */
.layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--primary-color);
    overflow-y: auto;
}

.layout-outlet {
    display: flex;
    justify-content: flex-start;
    margin-left: 250px; 
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; 
}
