.reward-radio {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 10px;
    font-family: var(--secondary-font);
    color: var(--text-color);
    padding: 5px 10px;
}

.reward-radio p {
    color: var(--text-color);
}

.reward-radio input[type="radio"] {
    cursor: pointer;
}


