.skeleton-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 20px;

    

    
}

.skeleton-div{
    border: black solid 2px;
}