/* Sidebar ------------------------------------------------------------- */
.sidebar {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--primary-font);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    color: var(--background-color);
    transition: color 0.3s ease;

    h1 {
        font-size: 1.5rem;
    }

    i {
        font-size: 2rem;
    }
}

.profile:hover {
    color: var(--text-color);
}

.sidebar-menu {
    flex-grow: 1;
    margin-top: 20px;

    ul {
        list-style: none;
    }
}

.sidebar-button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 2px solid var(--background-color);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--background-color);
    transition: color 0.3s ease;  
    
    i, p {
        padding: 20px 0;
    }
}

.sidebar-button:hover {
    background-color: var(--background-color);
    color: var(--text-color-light);
    padding: 0 20px;
}

.sidebar-button:last-of-type {
    border-bottom: 2px solid var(--background-color);
}

.sidebar-button:active {
    transform: scale(0.98);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
    border-block: 2px solid var(--background-color);

    a {
        color: var(--text-color-light);
        transition: color 0.3s ease;
    }

    a:hover{
        color: #e0e0e0;
        text-decoration: underline;
    }
}

.logout {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.logout:hover {
    color: var(--background-color);
}
