/* Sidebar ------------------------------------------------------------- */
.sidebar {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--primary-font);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    height: 100vh;
    width: 230px;
    overflow-y: auto; 
    
    z-index: 50; 
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    color: var(--background-color);
    transition: color 0.3s ease;

    h1 {
        font-size: 1.5rem;
    }

    i {
        font-size: 2rem;
    }
}

.profile:hover {
    color: var(--text-color);
}

.sidebar-menu {
    flex-grow: 1;
    margin-top: 15px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--background-color);
    transition: color 0.3s ease;

    i,
    p {
        padding: 20px 0;
    }
}

.sidebar-button:hover {
    background-color: var(--background-color);
    color: var(--text-color-light);
    width: 230px;
    transform: translateX(-10px);
    padding-left: 10px;
}

.sidebar-info {
    color: var(--background-color);
    display: flex;
    flex-direction: column;

    i:hover {
        text-decoration: underline;
    }
}

.sidebar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        display: flex;
        align-items: center;
    }

}

.hide-full-sidebar {
    display: none;
}

/* Responsiveness */
@media (max-width: 1024px) {
      .hide-full-sidebar {
        display: inline-block;
      }

      .profile-avatar {
        margin-top: 10px;
        .relative {
            margin-right: 0 !important; /* override Shadcn preset ui - Ayumu*/
        }
      }

      .sidebar {
        width: 50px;
        padding: 10px;
        padding-bottom: 0;
        align-items: center;
        overflow: hidden;
      }

      .sidebar-menu {
        transform: translateX(12px);
      }

      .sidebar-button {
        width: 50px;
    }

    .sidebar-button:hover {
        width: 50px;
        transform: translateX(-12px);
        padding-left: 12px;
    }

    .sidebar-info {
        align-items: center;
        justify-content: center;

        i:hover {
            text-decoration: none;
        }
    }

    .sidebar-info-button,
    .sidebar-settings, 
    .auth-button {
        display: flex;
        align-items: center;
        transition: color 0.3s ease;
        padding: 20px;
    }

    .sidebar-info-button:hover,
    .sidebar-settings:hover,
    .auth-button:hover {
        background-color: var(--background-color);
        color: var(--text-color-light);
    }

    .sidebar-footer {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media (max-width: 600px) {
    .profile-avatar {
        margin-right: 10px;
      }
}
@media (max-width: 405px) {

    .mobile-hidden {
        display: none !important;
    }

    .profile-avatar {
        margin: 10px;
        width: 50px;
      }

    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        background-color: var(--primary-color);
        padding: 0;

        ul {
            display: flex;
        }
    }
    
    .sidebar-menu {
        margin-top: 0; 
        display: flex;
        align-items: center;
        height: 50px;

        i, p {
            padding: 0;
        }

    }

    .sidebar-button i:hover,
    .sidebar-button p:hover {
        background-color: var(--background-color);
        color: var(--text-color-light);
        transform: translateY(12px);
        height: 50px;
        padding-left: 0;
    }

    .sidebar-info {
        display: flex;
        flex-direction: row;
    }

    .sidebar-info-button{
        display: flex; 
        align-items: center;
        height: 50px;
        padding: 13px 12px;
    }

    .sidebar-footer {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: 50px;
        width: 100px;
        gap: 0;
    }

    .sidebar-settings {
        padding: 13px 12px;
    }

    .auth-button {
        margin-left: -10px;
    }

}

