.quest-delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: var(--button-border);
    box-shadow: var(--button-shadow);
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;

  }
  
  .quest-delete-button i {
    font-size: 1.5rem;
    color: var(--text-color);
  }
  
  .quest-delete-button p {
    font-size: 0.8rem;
    color: var(--text-color);
  }
  
  .quest-delete-button:hover {
    background-color: var(--button-hover-color);
  }
  
  .quest-delete-button:active {
    box-shadow: var(--button-shadow-click);
    transform: var(--button-transform-click);
  }
  
