.landing-background {
    background-image: url('../../assets/img/landing-page/background-blank.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;

    span, h1 {
        color: var(--background-color);
        font-family: 'Pixelify Sans', sans-serif;
        text-transform: uppercase;
    }

    span {
        font-size: 4rem;
    }

    h1 {
        font-size: 6rem;
        margin-bottom: 50px;
    }
}

/* Start Button */
.landing-btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.landing-btn {
    background-color: #c0c0c0;
    font-family: var(--primary-font);
    color: var(--text-color);
    box-shadow: inset -4px -4px 0px 0px #808080;
    font-size: 1.5rem;
    width: 250px;
    height: 65px;
    margin: 10px 0;
    cursor: pointer;
}

.landing-btn:hover {
    background-color: #a9a9a9;
    box-shadow: inset -6px -6px 0px 0px #808080;
}

.landing-btn:active {
    box-shadow: inset 4px 4px 0px 0px #808080;
}

.eightbit-btn {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.eightbit-btn:before,
.eightbit-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.eightbit-btn:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}

.eightbit-btn:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}

/* Clouds */
.cloud {
    position: absolute;
    opacity: 0.8;
    animation: drift-right 30s linear infinite;
}

.cloud1 {
    left: -10%;
    top: 50px;
    width: 250px;
    animation-duration: 35s;
}

.cloud2 {
    left: -15%;
    bottom: 90px;
    width: 450px;
    animation-duration: 40s;
}

.cloud3 {
    right: 0;
    top: 200px;
    width: 250px;
    animation-duration: 30s;
}

.cloud4 {
    right: 5%;
    bottom: 90px;
    width: 450px;
    animation-duration: 50s;
}

@keyframes drift-right {
    0% {
        transform: translateX(-120vw);
    }
    100% {
        transform: translateX(120vw);
    }
}

/* Mountain and Castle */
.mountain {
    position: absolute;
    bottom: 100px;
    left: 25%;
    height: 170px;
    z-index: 5;
}

.castle {
    position: absolute;
    bottom: 90px;
    right: 50px;
    height: 300px;
    z-index: 5;
}

/* Ground, Bushes, and Tree */
.ground-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url('../../assets/img/landing-page/ground.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: 5;
}

.tree {
    height: 200px;
    margin-left: -200px;
    margin-right: -200px;
}

.bush-container {
    position: absolute;
    bottom: 100px;
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 15;
}

.bush {
    height: 70px;
}

.bush:nth-child(1) {
    margin-left: -50px;
}

.bush:nth-child(4) {
    margin-right: -50px;
    margin-left: -100px;
}

.ground {
    display: none;
}

/* Mobile View */
@media (max-width: 390px) {
    .landing-container {
        span {
            font-size: 2.5rem;
        }

        h1 {
            font-size: 3.5rem;
            margin-bottom: 25px;
        }
    }

    .landing-btn {
        font-size: 1rem;
        width: 150px;
        height: 55px;
    }

   .mountain, .castle, .bush, .tree, .ground-container {
        display: none;
    }
}
