.quest-complete-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: var(--button-border);
  box-shadow: var(--button-shadow);
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  cursor: pointer;
  text-align: center;
}

.quest-complete-button i {
  font-size: 1.5rem;
  margin-top: 5px;
  color: var(--text-color);
}

.quest-complete-button p {
  font-family: var(--secondary-font);
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--text-color);
}

.quest-complete-button:hover {
  background-color: var(--button-hover-color);
}

.quest-complete-button:active {
  box-shadow: var(--button-shadow-click);
  transform: var(--button-transform-click);
}

@media (max-width: 600px) {
  .quest-complete-button {
    
    width: 70px;
    height: 70px;
  

    i {
      font-size: 1.2rem;
    }

    p {
      font-size: .5rem;
    }
  }

  .hide-600 {
    display: none;
  }
}