* {
    box-sizing: none;
    box-sizing: border-box;
}

:root {
    /* Color Pallete */
    --primary-color: #4a9b48; /* Green */
    --secondary-color: #d4c5a1; /* Light Parchment */
    --secondary-color: #d4c5a1; /* Light Parchment */
    --secondary-color-dark: #7b4f2e; /* Brown */
    --text-color: #333333; /* Dark Gray */
    --background-color: #f2f2f2; /* Light Gray */
    --accent-color: #d4a373; /* Warm Tan */

    /* Fonts */
    --primary-font: 'Pixelify sans';
    --secondard-font: 'Roboto sans';
  }


