/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Pixelify Font */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

* {
    box-sizing: border-box;
}

:root {
    /* Color Palette */
    --primary-color: #4a9b48; /* Green */
    --secondary-color: #d4c5a1; /* Light Parchment */
    --secondary-color-dark: #7b4f2e; /* Brown */
    --text-color: #333333; /* Dark Gray */
    --text-color-light: #444444; /* Gray */
    --background-color: #f2f2f2; /* Light Gray */
    --accent-color: #d4a373; /* Warm Tan */

    /* Fonts */

    --primary-font: 'Pixelify Sans', sans-serif;
    --secondary-font: "Roboto", sans-serif;

    /* Button Styles */
    --button-shadow: 2px 2px 1px 1px black;
    --button-border: 2px solid black;

    /* Button Hover */
    --button-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.2);
    --button-transform-lift: translateY(-2px); 

    /* Button Click Effect */
    --button-shadow-click: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --button-transform-click: transform: translateY(2px);

    /* Button Colors */
    --button-green: #4caf50;
    --button-green-hover: #388e3c;
    --button-green-shadow: #2e7d32;

    --button-red: #f44336;
    --button-red-hover: #d32f2f;
    --button-red-shadow: #c62828;
}

a {
    text-decoration: none;
}

.background-anchor {
    position: relative;
    text-align: center;
    background: url('../../src/assets/img/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {


	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {

	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
